.DS_Store
.ipynb_checkpoints
__pycache__
*.pyc
*.traj
*.vasp
*.f90
*.ascii
input.vasp
INCAR
KPOINTS
POSCAR
POTCAR
CONTCAR
OUTCAR
REPORT
IBZKPT
PCDAT
OSZICAR
XDATCAR
CHG
CHGCAR
WAVECAR
EIGENVAL
DOSCAR
input.vasp
ase-sort.dat
vasp.out
vasprun.xml
slurm-*
log
